body {   
    margin: 0;
    background-color: #EFEFEF;
}

.hero-section { 
    height: 100vh;
    width: 100vw;
    background-image: url("../images/homepage/background1.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
}

/* .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("../images/homepage/background1.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(10px);
    transform: scale(1.05);
    z-index: -1; 
} */

.hero-content {
    padding-top: 20%;
}

.hero-card {
    margin-left: 40%;
    background-color: rgba(255, 255, 255, 0.065);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.4);
    border-left: 1px solid rgba(255,255,255,0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
    width: 40vw;
    padding: 30px;
    border-radius: 30px;
}

.hero-title {
    font-family: "halyard-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(2rem, 5vw, 4.5rem);
    color: #000;
    margin: 30px;
}

.hero-subtitle {
    font-family: "halyard-display",sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1.5vw, 1.7rem);
    color: #000;
    margin: 30px;
}

.hero-button {
    font-family: "halyard-display",sans-serif;
    font-weight: 400;
    font-size: clamp(.7rem, 1.5vw, 1.1rem);
    color: #ffffff;
    background-color: #000000;
    padding: 7px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 30px;
}

.hero-button:hover {
    background-color: #333333;
}

    @media (max-width: 600px) {

    .hero-content { 
        padding-left: 5%;
        padding-right:5%;
    }   
        
    .hero-card {
        margin-left: 0;
        width: 85%;
    }

    .hero-title {
    margin: 15px;
}

.hero-subtitle {
    margin: 15px;
}

.hero-button {
    margin: 15px;
}

}