.cards-a-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: clamp(2rem, 5vw, 5rem);
    justify-content: center;
    margin-inline: auto;
    margin-block: clamp(4rem, 5vw, 6rem);
}

.card-a-area {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

/* this is probably going to change */
.card-a-image { 
    width: 50%;
    object-fit: cover;
}

@media (max-width: 725px) {

.cards-a-container {
    gap: 40px;
}

.card-a-area { 
    flex-direction: column;
    gap: 15px;
}   

.card-a-image { 
    width: 100%;
    object-fit: cover;
}
}