body {   
    background-color: #EFEFEF;
    margin: 0;
}

/* .content-container {
    border: #000000 2px solid;
} */

.header-text{ 
    font-family: "halyard-display",sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: clamp(2rem, 1.6rem + 2.5vw, 3.25rem);
    line-height: 1.1;
    color: #000;
    margin-block: clamp(0.15rem, 2vw, 2rem);
}

.section-caption{ 
    font-family: "halyard-display",sans-serif;
    font-weight: 400;
    font-size: clamp(0.85rem, 0.85rem + 0.4vw, 1.125rem);
    line-height: 1.6;
    max-width: clamp(25ch, 60vw, 65ch);
    text-align: center;
    margin-inline: auto;
    color: #000;
    margin-block: clamp(0.15rem, 2vw, 2rem);
}

.body-text{ 
    font-family: "halyard-display",sans-serif;
    font-weight: 400;
    font-size: clamp(1.1rem, 0.85rem + 0.4vw, 1.125rem);
    line-height: 1.6;
    color: #000;
    margin: clamp(0.15rem, 2vw, 2rem);
}

.button{ 
    font-family: "halyard-display",sans-serif;
    font-weight: 400;
    font-size: clamp(0.75rem, 0.75rem + 0.4vw, 1rem);
    color: #ffffff;
    background-color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: clamp(0.15rem, 2vw, 2rem);
    display: block;
    margin-inline: auto;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #333333;
}

.divider {
  margin-block: clamp(0.25rem, 2vw, 2rem);
  margin-inline: auto;
  width: 80vw;
  height: 1px;
  background-color: #000000;
  border: none;
}